#home{
    width:100%;
    height:90vh;
    display:flex;
    
    
    > section {
        width: 100%;
        margin-bottom: 10vh;
    
        &:first-of-type {
         padding-left: $p;
         
         > div {
            // border-top: 1px solid $color6_2;
            height: 0%;
            padding-top: 3rem;
            > h1 {
              font: 700 3.5rem $text1;
            }
    
            .typewriter {
              margin: 20px 0;
              height: 20px;
              letter-spacing: 5px;
            }
    
            > div {
              display: flex;
              margin: 2rem 0;
              width: 70%;
              gap: 4rem;
              align-items: center;
              > a {
                &:first-of-type {
                  border: 1px solid $color6;
                  border-radius: 3px;
                  background-color: transparent;
                  color: $color6;
                  font: 600 1.2rem $text2;
                  padding: 1rem 2rem;
                  transition: all 0.3s;
                  &:hover {
                    background-color: $color3;
                  }
                }
                &:last-of-type {
                  font: 600 1.2rem $text2;
                  color: $color6;
                  display: flex;
                  align-items: center;
                }
              }
            }
        }
      }


        &:last-of-type{
            // border-top: 1px solid $color6_2;
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;

            &::after {
                content:"";
                width: 35vmax;
                height: 35vmax;
                background-color: $color2;
                position: absolute;
                z-index: -1;
                border-radius: 50%;
            }

            >img {
              width: 35vmax;
              height: 35vmax;
                object-fit: contain;
                border-radius: 50%;
                position: absolute;
            }
        }
    }
    > svg {
        position: absolute;
        font-size: 3rem;
        color: $color6;
        left: 50%;
        bottom: 2%;
        transform: translateX(-50%);
        animation: animateSvg 0.7s infinite linear alternate;
      }
}